{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Detalle de la Autoparte</h2>
    {% if autoparte.imagen %}
    <img src="{{ autoparte.imagen.url }}" class="img-fluid mb-3" alt="Imagen">
    {% endif %}
    <p><strong>Número de serie:</strong> {{ autoparte.numero_serie }}</p>
    <p><strong>Marca:</strong> {{ autoparte.marca }}</p>
    <p><strong>Modelo:</strong> {{ autoparte.modelo }}</p>
    <p><strong>Descripción:</strong></p>
    <div>{{ autoparte.descripcion|safe }}</div>

    <div class="d-flex flex-wrap gap-2 mt-3 mb-5">
        <a href="{% url 'autoparte_list' %}" class="btn btn-secondary">Volver a la lista</a>

        {% if user.is_authenticated %}
        <a href="{% url 'autoparte_update' autoparte.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'autoparte_delete' autoparte.pk %}" class="btn btn-danger">Eliminar</a>
        {% endif %}
    </div>
    {% endblock %}