{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Autopartes</h2>


    <form method="get" action="{% url 'autoparte_list' %}" class="mb-3 d-flex">
        <input type="text" name="q" class="form-control me-2" placeholder="Buscar autoparte..."
            value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </form>

    <a href="{% url 'autoparte_create' %}" class="btn btn-success mb-3">Agregar nueva Autoparte</a>

    <div class="row">
        {% for autoparte in autopartes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if autoparte.imagen %}
                <img src="{{ autoparte.imagen.url }}" class="card-img-top" alt="Imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ autoparte.numero_serie }}</h5>
                    <p class="card-text">{{ autoparte.descripcion|safe|truncatewords:20 }}</p>
                    <a href="{% url 'autoparte_detail' autoparte.pk %}" class="btn btn-primary">Ver detalles</a>
                    <a href="{% url 'autoparte_update' autoparte.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'autoparte_delete' autoparte.pk %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No se encontraron autopartes.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}