{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Buscar Autopartes</h2>
                    <form method="get" action="{% url 'autoparte_list' %}" class="mb-4">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control rounded-start"
                                placeholder="Ingrese marca, modelo, descripción o nro de serie"
                                value="{{ request.GET.q|default:'' }}">
                            <button type="submit" class="btn btn-dark rounded-end">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}