{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{{ titulo }}</h2>

                    {% if mensaje %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ mensaje }}
                    </div>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-dark w-100 mt-3">Guardar</button>
                    </form>

                    <a href="{% url 'autoparte_list' %}" class="btn btn-link mt-3 d-block text-center">Volver a la
                        lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}