{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Mensajes Recibidos</h2>
    <a href="{% url 'seleccionar_destinatario' %}" class="btn btn-primary mb-3">Nuevo Mensaje</a>

    <ul class="list-group">
        {% for mensaje in mensajes %}
        <li class="list-group-item {% if not mensaje.leido %}list-group-item-secondary{% endif %}">
            <strong>De:</strong> {{ mensaje.emisor }}<br>
            <strong>Fecha:</strong> {{ mensaje.fecha_envio|date:"d/m/Y H:i" }}<br>
            {{ mensaje.contenido }}
        </li>
        {% empty %}
        <li class="list-group-item">No tenés mensajes.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}