{% extends "base.html" %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Acerca de mí</h2>
    <p>Hola, soy Santiago. Tengo 30 años y soy estudiante de Coderhouse, ademas del creador de esta web.
    <p>En este proyecto final que combina perfiles, registro, páginas, formularios, listas, mensajeria y herencia de
        templates
        vas a poder encontrar toda la informacion relacionada con las autopartes que tenemos en stock</p>

    <p>Este sitio fue desarrollado con Django, utilizando buenas prácticas y modernas herramientas para una
        experiencia
        óptima.</p>

    <p>Si querés contactarme, podés enviarme un mail a <a
            href="mailto:s.delapuente95@gmail.com"><strong>s.delapuente95@gmail.com</strong></a></p>
</div>
{% endblock %}